* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.25);
  --background-color: rgba(255, 255, 255, 0.1);
  --background-hover-color: rgba(255, 255, 255, 0.05);
  --bg-url: url('./assets/bg-mobile.jpg');
  --switch-bg-url: url('./assets/moon-stars.svg');
}

.light-theme {
  --text-color: #000;
  --border-color: rgba(0, 0, 0, 0.25);
  --background-color: rgba(0, 0, 0, 0.05);
  --background-hover-color: rgba(0, 0, 0, 0.1);
  --bg-url: url('./assets/bg-mobile-light.jpg');
  --switch-bg-url: url('./assets/sun.svg');
}

body {
  height: 100vh;
  background: var(--bg-url) top center/cover no-repeat;
  transition: background 1.5s;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 580px;
  min-width: 300px;
  margin: 48px auto;
  padding: 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  display: block;
  margin: 0 auto;
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

div#switch {
  position: relative;
  margin: 0 auto;
  width: 64px;
  padding: 8px 0;
  cursor: pointer;
}

div#switch button {
  position: absolute;
  transform: translateY(-10%);
  z-index: 1;
  width: 16px;
  height: 16px;
  padding: 16px;
  background: #fff var(--switch-bg-url) center no-repeat;
  border: 0;
  border-radius: 50%;
  transition: transform 0.5s;
  cursor: pointer;
}

div#switch button:hover {
  outline: 8px solid var(--background-color);
}

.light-theme div#switch button {
  transform: translateY(-10%) translateX(110%);
}

div#switch span.track {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul#list {
  display: flex;
  list-style: none;
  margin-top: 24px;
  flex-direction: column;
  gap: 16px;
}

ul#list li a {
  display: flex;
  padding: 16px 24px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  transition: background 0.3s;
}

ul#list li a:hover {
  background: var(--background-hover-color);
}

ul#social-links {
  padding: 24px;
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 8px;
}

ul#social-links li a {
  display: flex;
  padding: 16px;
  font-size: 24px;
  border-radius: 50%;
  transition: background 0.3s;
}

ul#social-links li a:hover {
  background: var(--background-hover-color);
}

footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.5;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light-theme {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
